.message {
  position: relative;
  border-radius: 10px;
  padding: 15px 25px 25px;
  margin: 5px;
  width: fit-content;
  min-width: 30%;
  max-width: 50%;
  background-color: gray;
  align-self: flex-start;
}

.myMessage {
  background-color: darkgreen;
  align-self: flex-end;
}

.text {
  color: white;
}

.date {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: aliceblue;
}

.deleteButton {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2px;
  right: 2px;

  width: 25px;
  height: 25px;
  background-color: transparent;
  text-align: center;
  border-radius: 50%;
  visibility: hidden;
}

.message:hover .deleteButton {
  visibility: visible;
}

.deleteButton:active,
.deleteButton:focus-visible,
.deleteButton:hover {
  background-color: brown;
  outline: none;
}

.deleteButton:active {
  background-color: var(--accent-color);
}